[submodule "Core"]
	path = Core
	url = https://github.com/SpecterShell/Dumplings.Core
[submodule "Modules/PackageModule"]
	path = Modules/PackageModule
	url = https://github.com/SpecterShell/Dumplings.PackageModule
